*{
    margin: 0px;
    box-sizing: 0px;    
}
h1{
    text-align: center;
    font-size: 1.8rem;
    color: #444;
    padding: 30px 0px;
}
main{
    width: 90%;
    height: 800px;
    margin: auto;
    border:1px solid black;
    display: flex; 
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}

div{
    width: 30%;
    height: 220px;
    /* border: 1px solid white; */
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    cursor: pointer;
}
div:hover{
    /* transform: translateX(2px); */
    transform: scale(1.009,1.009);
    background-color: #444;
    border:1px solid wheat;
}
.m{
    text-decoration-color: rgba(0, 0, 0, 0.1);
   
}
.a{   
     background-image:url('img/js1.jpg');
     background-repeat: no-repeat;
     background-size: 100% 100%;
}
.b{   
    background-image:url('img/js2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.c{   
    background-image:url('img/js3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.d{   
    background-image:url('img/js4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.e{   
    background-image:url('img/js5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.f{   
    background-image:url('img/js6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.g{   
    background-image:url('img/js7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.h{   
    background-image:url('img/js8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.i{   
    background-image:url('img/js9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}